{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
    <div class="show-container">
        <h1>Stagiaire</h1>

        <table class="show-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ stagiaire.id }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ stagiaire.lastName }}</td>
                </tr>
                <tr>
                    <th>FirstName</th>
                    <td>{{ stagiaire.firstName }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_stagiaire_index') }}" class="show-back-button">back to list</a>
        <a href="{{ path('app_stagiaire_edit', {'id': stagiaire.id}) }}" class="show-edit-button">edit</a>

    </div>
{% endblock %}
