{{ form_start(form) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.email) }}
    {# Le champ de mot de passe n'est pas inclus ici, donc il ne sera pas affiché #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}