{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div class="show-container">
        <h1>Session</h1>

        <table class="show-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ session.id }}</td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ session.label }}</td>
                </tr>
                <tr>
                    <th>DateStart</th>
                    <td>{{ session.dateStart ? session.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateEnd</th>
                    <td>{{ session.dateEnd ? session.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Number Reserved</th>
                    <td>{{ session.stagiaires|length }}</td>
                </tr>
                <tr>
                    <th>Number Remaining</th>
                    <td>{{ session.nbLimit - (session.stagiaires|length) }}</td>
                </tr>
            </tbody>
        </table>


        <!-- STAGIAIRES INSCRITS -->
        <h2>Stagiaires Inscrits</h2>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li>
                    {{ stagiaire.firstName }} {{ stagiaire.lastName }}
                    <form method="post" action="{{ path('app_session_retirer', {'sessionId': session.id, 'stagiaireId': stagiaire.id}) }}">
                        <button type="submit">Retirer</button>
                    </form>
                </li>
            {% else %}
                <li>Aucun stagiaire inscrit.</li>
            {% endfor %}
        </ul>

        <!-- STAGIAIRES NON INSCRITS -->
        <h2>Stagiaires non inscrits</h2>
        <ul>
            {% for stagiaire in stagiairesNotInSession %}
                <li>
                    {{ stagiaire.lastName }} {{ stagiaire.firstName }}
                    <form method="post" action="{{ path('app_session_ajouter', {'sessionId': session.id, 'stagiaireId': stagiaire.id}) }}">
                        <button type="submit">Ajouter</button>
                    </form>
                </li>
            {% else %}
                <li>Aucun stagiaire non inscrit.</li>
            {% endfor %}
        </ul>

        <!-- MODULES DANS SESSION -->
        <h2>Modules dans session</h2>
        <ul>
            {% for module in session.modules %}
                <li>
                    {{ module.labelModule }}
                    <form method="post" action="{{ path('app_session_retirer_module', {'sessionId': session.id, 'moduleId': module.id}) }}">
                        <button type="submit">Retirer</button>
                    </form>
                </li>
            {% else %}
                <li>Aucun module dans la session.</li>
            {% endfor %}
        </ul>

        <!-- MODULES NON INSCRITS -->
        <h2>Modules non inscrits</h2>
        <ul>
            {% for module in modulesNotInSession %}
                <li>
                    {{ module.labelModule }}
                    <form method="post" action="{{ path('app_session_ajouter_module', {'sessionId': session.id, 'moduleId': module.id}) }}">
                        <button type="submit">Ajouter</button>
                    </form>
                </li>
            {% else %}
                <li>Aucun module non inscrit.</li>
            {% endfor %}
        </ul>




        <a href="{{ path('app_session_index') }}" class="show-back-button">back to list</a>
        <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="show-edit-button">edit</a>

    </div>
{% endblock %}
