{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div class="show-container">
        <h1>Session</h1>

        <table class="show-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ session.id }}</td>
                </tr>
                <tr>
                    <th>Label</th>
                    <td>{{ session.label }}</td>
                </tr>
                <tr>
                    <th>DateStart</th>
                    <td>{{ session.dateStart ? session.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateEnd</th>
                    <td>{{ session.dateEnd ? session.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Number Reserved</th>
                    <td>{{ session.stagiaires|length }}</td>
                </tr>
                <tr>
                    <th>Number Remaining</th>
                    <td>{{ session.nbLimit - (session.stagiaires|length) }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Stagiaires Inscrits</h2>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li>{{ stagiaire.firstName }} {{ stagiaire.lastName }}</li>
            {% else %}
                <li>Aucun stagiaire inscrit.</li>
            {% endfor %}
        </ul>


        <h2>Stagiaires non inscrits</h2>
        <ul>
            {% for stagiaire in stagiairesNotInSession %}
                <li>{{ stagiaire.firstName }} {{ stagiaire.lastName }}</li>
            {% else %}
                <li>Tous les stagiaires sont inscrits.</li>
            {% endfor %}
        </ul>
        
        <h2>Modules dans session</h2>
         {% for labelModule in session.modules %}
            <ul>
                <li>{{ labelModule }}</li>
            </ul>
         {% else %}
            <li>Aucun module dans la session.</li>
         {% endfor %}

        <a href="{{ path('app_session_index') }}" class="show-back-button">back to list</a>
        <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="show-edit-button">edit</a>

    </div>
{% endblock %}
