<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/show-styles.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {# NAVBAR #}
        <div class="navbar">
            <a href="{{ path('app_session_index') }}">Sessions</a>
            <a href="{{ path('app_module_index') }}">Modules</a>
            <a href="{{ path('app_stagiaire_index') }}">Stagiaires</a>


            {# SI ROLE_ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_index') }}">Admin</a>
            {% endif %}
            {# SI UTILISATEUR CONNECTÉ #}
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
            {# SI UTILISATEUR NON CONNECTÉ #}
                <a href="{{ path('app_login') }}">Connexion</a> 
                <a href="{{ path('app_register') }}">S'enregistrer</a> 
            {% endif %}
        
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
